<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Titanic</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <nav>
        <a href="hello.html">Home</a>
        <a href="#">Titanic</a>
        <a href="https://github.com/mlozanog96">About</a>
    </nav>
</head>

<body>
    <h1>TITANIC PAGE</h1>
    <main>
        <h1>Titanic Data</h1>
        <table>
            {{table}}
        </table>
        <h2> Bar chart</h2>
        {{chart}}
    </main>
</body>

<footer>
    <p>María Hubaldina Lozano González</p>
    <p><a href="mailto:marylozanogzz@gmail.com">marylozanogzz@gmail.com</a></p>
</footer>

</html>